//Importações de arquivos
@import 'bootstrap';
@import 'components';

a {
  text-decoration: none;
  &:hover {
    text-decoration: underline;
  }
}

.border-dashed {
  border-right: 1px dashed #ffffff50;
}
