@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2? família=Open+Sans:wght@300;400;500;600;700;800&display=swap');

//variáveis das cores
$ui-color-danger-light: #eb5151;
$ui-color-danger: #e62121;
$ui-color-danger-dark: #c11616;
$black-2: #1f2d3d;
$aco: #273444;
$prata: #3c4858;
$prata-2: #707c8c;
$gray: #8492a6;
$fumaca-extra-dark: #c0ccda;
$neve-extra-dark: #e5e9f2;
$neve-dark: #eff2f7;
$neve: #f9fafc;
$white: #ffffff;
$text-link: #3a95e9;
$transparent: #00000000;

//Importações de arquivos
@import "bootstrap";
@import "components";

//Importações de fontes
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import url('https://fonts.googleapis.com/css2? família=Open+Sans:wght@300;400;500;600;700;800&display=swap');

//Definição da largura máxima do container e remoção do padding padrão
.container {
    max-width: 1192px;
}

header {
    .box-logo {
        position: relative;

        &::after {
            content: "";
            display: block;
            background: $white;
            height: 60px;
            width: 1px;
            position: absolute;
            left: 223px;
        }
    }
}

//formatação da frase destaque na notícia
.destaque-box {
    background: $neve;
    border-left: 5px solid #2471B5;
}

p {
    margin-bottom: 48px;
}


//estilizando filtro por categorias da página da notícia
.filters {
    background: linear-gradient(90deg, #eff4fc 0%, rgba(249, 250, 252, 0) 106.36%);
}


.poppins {
    font-family: 'Poppins', sans-serif;
}

.ff-open-sans {
    font-family: 'Open Sans', sans-serif;
}

li {
    list-style-type: none;
}

li a {
    text-decoration: none;
}

ul {
    padding-left: 0;
}

table {
    text-align: center;
    background: #EFF2F7;
    width: 80%;
}

tr:nth-child(even) {
    background: #DAE3EB;
}

table thead {
    background: #2471B5;
    color: white;
    font-weight: 600 !important;
}

.navbar .col-9 {
    background: #2471B5 !important;
}

.text-main {
    bottom: 0%;
    color: #F2F2F2;
}

.notice {
    position: relative;
}

.edital-card {
    -webkit-box-sha-webkit-box-shadow: 0px 4px 15px -1px rgba(0, 0, 0, 0.1);
    box-shadow: 0px 4px 15px -1px rgba(0, 0, 0, 0.1);
    dow: 0px 4px 15px 6px rgba(0, 0, 0, 0.1);
    padding: 26px;
}

main {
    background: #FAFAFA;
}

.card{ 
    border-radius: 8px;
}

.sobre img {
    max-height: 268px;
    background: white;
}

.sobre .text {
    max-width: 800px;
}

.editais {
    background: #FAFAFA;
}

nav {
    background: #F2F2F2 !important;
}

.card-body{
    color: #828282;
}

.editais button{
    background: #2471B5;
    color: white;
    &:hover {
        color: #2471B5;
        border-color: #2471B5;
        background: transparent;
    }
    &:active, &.active {
        color: #2471B5;
        border-color: #2471B5;
        background: transparent;
    }
}

.card-ppgem{
    background: #2471B5;
}

.publicidade .novidades div:first-child img {
    background-color: #3BA8DC;
}

.publicidade .publicacoes div:first-child img {
    background-color: #DC3BC1;
}

.publicidade .calendario div:first-child img {
    background-color: #91DC3B;
}

.publicidade .novidades div:first-child h4,
.publicidade .publicacoes div:first-child h4,
.publicidade .calendario div:first-child h4 {
    position: absolute;
    top: -2px;
    margin-left: 15px;
    font-weight: 600;
    color: #f2f2f2;
    padding-right: 100%;
}

.publicidade .novidades div:first-child a,
.publicidade .publicacoes div:first-child a,
.publicidade .calendario div:first-child a {
    text-decoration: none;
    color: #f2f2f2;
    position: absolute;
    top: 1px;
    margin-left: 230px;
    font-weight: 300;
    font-size: 14px;
}

.publicidade .novidades div:first-child span,
.publicidade .publicacoes div:first-child span,
.publicidade .calendario div:first-child span {
    color: #f2f2f2;
    font-size: small;
}

.publicidade .novidades,
.publicidade .publicacoes,
.publicidade .calendario {
    float: left;
    width: 30%;
}

.publicidade .publicacoes,
.publicidade .calendario {
    margin-left: 3%;
}

.publicidade .novidades div:nth-child(2) a,
.publicidade .novidades div:nth-child(3) a,
.publicidade .novidades div:nth-child(4) a {
    text-decoration: none;
}

.publicidade .novidades div:nth-child(2) a,
.publicidade .novidades div:nth-child(2) p,
.publicidade .novidades div:nth-child(3) p,
.publicidade .novidades div:nth-child(4) p {
    color: #333333;
}

.publicidade .novidades div:nth-child(3) a,
.publicidade .novidades div:nth-child(4) a {
    color: #4F4F4F;
}

.publicidade .novidades div:nth-child(2) h4,
.publicidade .novidades div:nth-child(3) h4,
.publicidade .novidades div:nth-child(4) h4,
.publicidade .novidades div:nth-child(2) span,
.publicidade .novidades div:nth-child(3) span,
.publicidade .novidades div:nth-child(4) span {
    display: block;
    margin-top: 10px;
}

.publicidade .novidades div:nth-child(2) span,
.publicidade .novidades div:nth-child(3) span,
.publicidade .novidades div:nth-child(4) span {
    color: #828282;
    font-weight: 400;
    font-size: 13px;
}

.publicidade .novidades div:nth-child(2) p,
.publicidade .novidades div:nth-child(3) p,
.publicidade .novidades div:nth-child(4) p {
    font-weight: 400;
    font-size: 14px;
    margin-top: 6px;
    line-height: 160%;
}

/* Seção Publicações */

.publicidade .publicacoes div:nth-child(2) a {
    color: #4F4F4F;
    text-decoration: none;
}

.publicidade .publicacoes div:nth-child(2) p:first-child {
    padding-top: 0%;
}

.publicidade .publicacoes div:nth-child(2) p {
    border-bottom: 1px solid #D1D1D1;
    padding-bottom: 20px;
    padding-top: 10px;
}

.publicidade .publicacoes div:nth-child(2) p:nth-child(5) {
    border: none;
}

.publicidade .calendario  div:nth-child(2) {
    border-bottom: 1px solid #D1D1D1;
    padding: 10px;
    padding-top: 3px;
    padding-bottom: 0%;
}

.publicidade .calendario div:nth-child(2) span,
.publicidade .calendario div:nth-child(2) h3 {
    display: block;
}

.publicidade .calendario div:nth-child(2) span {
    color: #78C323;
    line-height: 140%;
    font-weight: 600;
    font-size: 34px;
    margin-bottom: -5px;
}

.publicidade .calendario div:nth-child(2) h3,
.publicidade .calendario div:nth-child(2) h4 {
    display: inline-block;
    margin-top: 10px;
}

.publicidade .calendario div:nth-child(2) h3 {
    font-weight: 300;
    font-size: 22px;
    font-family: 'Poppins', sans-serif;
    text-align: center;
    width: 60px;
}

.publicidade .calendario div:nth-child(2) h4 {
    width: 250px;
    margin-left: 5px;
}

