header {
  background-color: #f2f2f2;

  .background {
    display: none;
  }
}

.navbar {
  background-color: #f2f2f2;
}

// @media (min-width: 576px) {
// }

// @media (min-width: 768px) {
// }

@media (min-width: 992px) {
  .navbar {
    background-color: transparent;
  }

  header {
    background: linear-gradient(90deg, #f2f2f2 52.6%, #2471b5 52.61%);

    color: #f2f2f2;

    .divider {
      border: 0;
      height: 1px;
      background-color: #68bce4;
      opacity: 1;
      margin: 8px 0;
    }

    a {
      color: #f2f2f2;
      text-decoration: none;
      &:hover {
        color: #f2f2f2;
        text-decoration: underline;
      }
    }

    a.nav-link {
      color: #f2f2f2;
    }
  }

  .navbar__container {
    position: relative;
    height: 104px;
    .background {
      display: block;
      height: 100%;
      width: 65%;
      background-color: #2471b5;
      position: absolute;
      right: 0;
    }
  }
}

@media (min-width: 992px) {
  header {
    height: 104px;
  }
}

@media (min-width: 1200px) {
  header .navbar__background .background-divider {
    background-color: #2471b5;
    width: 65%;
    height: 100%;
  }
}

@media (min-width: 1400px) {
  .navbar__container .background {
    width: 70%;
  }
}
