.pagination {
    .page-item {
        border-radius: 5px;
        height: 39px;
        width: 39px;
        display: flex;
        align-items: center;
        justify-content: center;
        color: white;
        cursor: pointer;
        &:hover {
            .page-link {
                color: $white;
            }
        }
        .page-link {
            padding: 0;
            margin: 0;
        }
    }

    .page-item.active {
        border: 1px solid $ui-color-primary-light;
        background: $ui-color-primary-light;
        color: white;
        font-weight: bold;
    }
}