//post relacionado á noticia
.post-relacionado {
    position: relative;
    &::before {
        content: '';
        width: 100%;
        height: 1px;
        display: block;
        background: linear-gradient(90deg, #665C5C 0%, rgba(102, 92, 92, 0) 65.59%);
        position: absolute;
        top: 0%;
    }
    &:hover {
        opacity: 80%;
    }
}
